<!DOCTYPE html>
<html>
  <head>
    <title>New York Times Wedding Announcement generator</title>
    <meta name="description" content="Made with Glitch and Tracery">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/client.js"></script>
  </head>
  <body>
    <header>
      <h1>New York Times Wedding Announcement generator</h1>
    </header>
    <main>
      <p>Generate a wedding announcement!</p>
      <button id="gen-btn">Generate!</button>
      <div id="resultsContainer">
        ✒️
      </div>
    </main>
    <footer>
      <!-- include the Glitch button to show what the webpage is about and
            to make it easier for folks to view source and remix -->
      <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
      <script src="https://button.glitch.me/button.js"></script>
    </footer>
  </body>
</html>

